[Desktop Entry]
Type=Application
Name=RUXEL
GenericName=Real-time Unobtained Xenom Engine Layer
Comment=RUXEL ray tracer editor
Exec=ruxel
Icon=ruxel
Terminal=false
Categories=Development;Graphics;
StartupNotify=true
StartupWMClass=RUXEL
